<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Café Zurich{% endblock %}</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700|Rubik+Mono+One' rel='stylesheet' type='text/css'>
        {{ "app.css" | asset_url | stylesheet_tag }}
        {{ "modernizr.custom.js" | asset_url | script_tag }}
        <!-- TODO: Save the architecture as a boilerplate to mixture :) -->
        <!-- TODO: Remember: includes for components, blocks for main content -->
    </head>
    <body class="wrapper">
        {% include "hero" %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% include "footer" %}
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        {{ "app.js" | asset_url | script_tag }}
        {{ "classie.js" | asset_url | script_tag }}
        {{ "overlay-nav.js" | asset_url | script_tag }}
<!--
        <script>
            $("a").click(function(){
                $(this).toggleClass("open");
            });    
        </script>
-->
    </body>
</html>